fire==0.5.0
fschat==0.1.9
gradio
langchain==0.0.141
bitsandbytes
llama_index==0.5.12
nvgpu==0.10.0
pandas==1.5.3
git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
prompt_toolkit==3.0.38
PyPDF2==3.0.1
Requests==2.28.2
rich==13.3.4
tornado==6.2
tqdm==4.65.0
transformers==4.28.1
sentence-transformers
numpy

